.container {
  box-sizing: border-box;
  /* background-color: aqua; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.formLogin {
  border-radius: 20px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  border: 1px solid #f3e8e8;

  width: 662px;
  height: 662px;
  margin: 60px;
  margin-right: 40px;
  padding: 100px;
  background-color: #f3e8e8;
}
h1 {
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px;
}
h2 {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 36px;
  margin-top: -50px;
}
